---
import Quote from '../components/Quote.astro';
import Timer from '../components/Timer.astro';
import FeatureBtn from '../components/FeatureBtn.astro';
// import WorkSession from '../components/WorkSession.astro';
import '../stores/timer.js';
---

<div class="flex flex-col items-center justify-center gap-10">
    <!-- timer -->
    <Timer />

    <!-- time being we have removed the work sessions for now! -->
    <!-- work sessions -->
    <!-- <WorkSession /> -->

    <!-- features btns -->
    <FeatureBtn />

    <!-- random quick tips -->
    <Quote />

    <!-- single ad banner loc -->
</div>
