<footer
  class="flex items-center justify-center py-6 mt-16
         bg-white border-t-2 border-neutral-900 text-neutral-700 text-xs shadow-[4px_4px_0_#000]"
>
  <span class="manrope-font font-semibold">
    ❤️ Made by <span class="font-black">@akshatgangi</span> • Free forever • Share
  </span>
</footer>
