<div class="manrope-font font-black text-7xl text-neutral-900">
  <span
    id="timer"
    class="w-fit px-10 py-5 rounded-2xl bg-white border-2 border-neutral-900 shadow-[6px_6px_0_#000] tracking-wide"
  >
    25 : 00
  </span>
</div>
